<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="A Plague Tale: Innocence achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/a-plague-tale-innocence" />
    <meta property="og:title" content="A Plague Tale: Innocence Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="A Plague Tale: Innocence achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>A Plague Tale: Innocence Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>


    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951458/achievementroadmaps/PlaguetaleHQ2_uqwt8r.png"
            alt="Plague Tale: Innocence Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951450/achievementroadmaps/PlaguetaleL_tdhglf.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">10-15 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">1</span></li>
                    <li>Extra Content required:<span class="editableTitles">None</span></li>
                    <li>Total Achievements:<span class="editableTitles">35</span></li>
                    <li>Single Player:<span class="editableTitles">35</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</span></li>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">There is no difficulty
                            select option</span></li>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</span></li>
                    <li>Missable:<span class="editableTitles">None, there is a chapter select option</span></li>
                    <li>Glitched:<span class="editableTitles">None</span></li>
                    <li>Grind:<span class="editableTitles">1 -
                            <span class="achievement"> <%= achievements[24].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                    <span class="tooltip-text"> <%= achievements[24].description %>
                                    </span>
                                </span>
                            </span>
                        </span></li>

                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">A Plague Tale: Innocence is a story driven game, with equal parts of puzzle
                        solving, combat
                        and
                        cutscences. You can choose to play the game spoiler free until the end, and then start
                        replaying
                        chapters to unlock the achievements, or follow a guide to unlock everything in a single
                        playthrough with minor spoilers.</p>
                    <h2>First Playthrough</h2>
                    <p class="indent">You mostly need to worry about

                        <span class="achievement"> <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement"> <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement"> <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>.

                        Collectibes appear in your inventory so you know what you are missing except from

                        <span class="achievement"> <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>.

                        With chapter select you do not need to play until the end of the chapter, but only until you
                        find what you are missing.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1987696466"
                            target="_blank">Plague Tale:
                            Innocence Full Achievement Guide</a> - The only guide you need to unlock everything.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951452/achievementroadmaps/PlaguetaleR_vz7dhx.webp"
                    alt="">
            </div>
        </div>
    </section>

    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>