<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description" content="Darkwood achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/darkwood" />
    <meta property="og:title" content="Darkwood Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Darkwood achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>Darkwood Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951445/achievementroadmaps/DarkwoodHQ_ag7vxt.png"
            alt="Darkwood Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951436/achievementroadmaps/DarkwoodL_cbt29m.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">30+ hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">2</li></span>
                    <li>Extra Content required:<span class="editableTitles">0</li></span>
                    <li>Total Achievements:<span class="editableTitles">15</li></span>
                    <li>Single Player:<span class="editableTitles">15</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Can do everything on normal
                    </li></span>
                    <!-- <li>Do achievements stack?:<span class="editableTitles">Yes</li></span> -->
                    <li>Missable:<span class="editableTitles">11</li></span>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">0</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">Darkwood is a slow-paced and very challenging game. During the day you explore the
                        map, loot
                        everything you can while trying to progress through the story and during the night you stay at
                        your hideout trying to survive against the incoming enemies. Combat is the hardest part of the
                        game and unless you spend some time to master it, you will find yourself spending most of your
                        time looking for your dead body to collect back your items. The game auto-saves when you die and
                        during major events and that means there is only one opportunity per playthrough to unlock the
                        majority of the achievements. Hardly anything is explained ingame, so you are left to discover
                        the mechanics by yourself.</p>
                    <h2>First Playthrough</h2>
                    <p class="indent">The game gives you the option to skip the prologue, but for this playthrough do
                        not skip it for
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span>.

                        During chapter 1 go for the

                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>,

                        the easiest of the two major story choices. Also go for

                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        the only missable achievement for chapter 1.

                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>

                        will unlock when chapter 2 starts. At this point as you level up be aware of

                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>,

                        both are missable and only one can be completed per playthrough.

                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>

                        is connected with Kill the pig. There are two ways to end chapter 2. For this playthrough go for

                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>

                        which allows to do

                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>. Lastly for the epilogue play normally and unlock

                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>,

                        then load your save, replay the epilogue and unlock

                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p class="indent">On your second playthrough there should be five achievements left. You can safely
                        skip the
                        prologue and do not forget

                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>

                        or

                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>,

                        depending on which you unlocked on your first playthrough. During chapter 1 choose the

                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>.

                        There are two achievements available because of Musician's path: during chapter 1

                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>

                        and during chapter 2

                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>,

                        both missable. Finally you can finish chapter 2 with

                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1122007626"
                            target="_blank">Achievements Guide - Darkwood [Guide completed]</a> - Includes all
                        achievements and how to unlock them.<br>
                        <a href="https://www.nexusmods.com/darkwood/mods/6" target="_blank">Item stacks 999</a> - A mod
                        to increase most item stacks to 99, so you will not have to spend half your playtime travelling
                        back to your
                        hideout.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951437/achievementroadmaps/DarkwoodR_gu2jzw.webp"
                    alt="">
            </div>
        </div>
    </section>

    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>