<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Darksiders Genesis achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/darksiders-genesis" />
    <meta property="og:title" content="Darksiders Genesis  Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Darksiders Genesis  achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>Darksiders Genesis Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633971850/achievementroadmaps/DarksidersGenesisHQ_kmryxz.webp"
            alt="Darksiders Genesis Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633973288/achievementroadmaps/DarksidersGenesisL_qdp7tt.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">30 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">2 with chapter select + clean-up</li></span>
                    <li>Extra Content required:<span class="editableTitles">0</li></span>
                    <li>Total Achievements:<span class="editableTitles">30</li></span>
                    <li>Single Player:<span class="editableTitles">30</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to unlock and finish
                            on Apocalyptic</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">0 </li></span>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">0</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">Darksiders Genesis is your usual top-down action RPG. There isn't really anything
                        that
                        differentiates it from any other game of its category. The co-op is fun and makes the game much
                        easier. Every achievement can be done solo and you will not really need a partner at any point.
                        The achievements are pretty straight forward and you will need a guide for only a couple, unless
                        you are willing to spend a few extra minutes to discover them yourself. The most frustrating
                        part is the jumping puzzles that are necessary for achieving 100%.
                    </p>
                    <h2>First Playthrough</h2>
                    <p class="indent">You can change the difficulty at any time, but for your first playthrough choose
                        normal. This way
                        you can familiarize yourself with the mechanics and the level design. As you progress through
                        the story you will unlock new powers, that allow you to access previously inaccessible areas. I
                        recommend to finish all the chapters first, then collect everything during your second
                        playthrough. Also there are secondary quests for every chapter that must be completed in order
                        to gain access to collectibes, so make sure to complete as many as you can. On this playthrough
                        you will unlock all the story achievements:
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement"> <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement"> <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p class="indent">For your second playthrough replay all chapters again on casual, start collecting
                        everything you missed and complete the rest of the side quests. Also make sure you are buying
                        everything from Vulgrim's Shop. Learn all of Strife's Wrath abilities for
                        <span class="achievement"> <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>

                        and all of War's Wrath abilities for

                        <span class="achievement"> <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>.

                        Find all elemental ammo types for

                        <span class="achievement"> <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>

                        and all elemental enhancements for

                        <span class="achievement"> <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>.

                        There are total of 11 chapter specific achievements. Chapter 2:

                        <span class="achievement"> <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>,

                        chapter 3:

                        <span class="achievement"> <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 4:

                        <span class="achievement"> <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 5:

                        <span class="achievement"> <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 7:

                        <span class="achievement"> <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement"> <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 11:

                        <span class="achievement"> <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 12:

                        <span class="achievement"> <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>,

                        Chapter 15:

                        <span class="achievement"> <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement"> <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>

                        and Chapter 16:

                        <span class="achievement"> <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>.

                        After completing all the chapters you should have unlocked

                        <span class="achievement"> <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>

                        from collecting 350 boatman coins. Now at Boatman's Labyrinth you need to collect all the
                        boatman coints for

                        <span class="achievement"> <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[27].description %>
                                </span>
                            </span>
                        </span>,

                        open the final trickster door in Boatman's Labyrinth for

                        <span class="achievement"> <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>

                        and defeat Wicked Killington for

                        <span class="achievement"> <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>.
                        For

                        <span class="achievement"> <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>

                        you have to play in the Arena for any missing creature cores you didn't happen to unlock from
                        the chapters and do the jumping puzzles in Boatman's Labyrinth.
                    </p>
                    <p class="indent">
                        Finally play the Endless Mode in the Arena for

                        <span class="achievement"> <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p class="indent">
                        For the third playthrough what's left is replaying all the chapters on Apocalyptic difficulty.
                        Completing all chapters on Apocalyptic difficulty will earn you

                        <span class="achievement"> <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement"> <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text"> <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1966533365"
                            target="_blank">Darksiders Genesis - 100% Achievement Guide</a> - Written guide on steam.
                        Also provides external links.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633973212/achievementroadmaps/DarksidersGenesisR_upwlfm.webp"
                    alt="">
            </div>
        </div>
    </section>

    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>