<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Death's Door achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/deaths-door" />
    <meta property="og:title" content="Death's Door Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Death's Door achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Death's Door Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<% layout('/layouts/boilerplate') -%>

<section class="header">
    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v16611039/achievementroadmaps/DeatsDoorHQ_uceatr.webp"
        alt="Death's Door Cover" />
</section>
<section class="mainSection">
    <div class="middleColumnParent">
        <div class="leftColumn">
            <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1662825433/achievementroadmaps/DeathsDoorL_xr1qqc.webp"
                alt="" />
        </div>
        <div class="middleColumnPages">
            <ul class="entryTitles">
                <li>
                    Time to 100%:<span class="editableTitles">15-20 hours</span>
                </li>
                <li>
                    Minimum Playthroughs:<span class="editableTitles">2</span>
                </li>
                <li>
                    Extra Content required:<span class="editableTitles">No</span>
                </li>
                <li>
                    Total Achievements:<span class="editableTitles">24</span>
                </li>
                <li>
                    Single Player:<span class="editableTitles">24</span>
                </li>
                <li>
                    Multiplayer/CoOp:<span class="editableTitles">0</span>
                </li>
                <li>
                    Does difficulty affect achievements?:<span class="editableTitles">No</span>
                </li>
                <li>
                    Do achievements stack?:<span class="editableTitles">No</span>
                </li>
                <li>
                    Missable:<span class="editableTitles">2-
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>
                    </span>
                </li>
                <li>
                    Glitched:<span class="editableTitles">0</span>
                </li>
                <li>
                    Grind:<span class="editableTitles">0</span>
                </li>
            </ul>
            <div class="aboutGameSection">
                <h1>Does it worth your time?</h1>
                <p class="indent">
                    A very good action-adventure game. Combat is solid, clever puzzles, the world is
                    beatifully built. Short and on point.
                </p>
                <p class="indent">
                    The achievements include what you would expect. Secrets, upgrades, collectibles. You will have
                    to backtrack for all of them, but the end game is clever and you will not get bored.
                </p>
                <h2>First Playthrough</h2>
                <p class="indent">
                    In order to complete all of the achievements you need to finish the game, meaning beating the
                    final boss. But before the final battle you can complete quite a few. After beating the final
                    boss the doors will glow, which indicates that there are still collectibles left in that area.
                </p>
                <p class="indent">
                    Be aware of the missables, although you will have a second chance during the second playthrough.
                    <span class="achievement">
                        <%= achievements[3].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[3].description %>
                            </span>
                        </span>
                    </span> can be done during the witch boss fight and
                    <span class="achievement">
                        <%= achievements[2].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[2].description %>
                            </span>
                        </span>
                    </span> during the frog king fight. Finding all 50 seeds and planting them will unlock
                    <span class="achievement">
                        <%= achievements[12].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[12].description %>
                            </span>
                        </span>
                    </span>. After you unlock all the abilities, start upgrading them for
                    <span class="achievement">
                        <%= achievements[19].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[19].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[20].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[20].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[21].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[21].description %>
                            </span>
                        </span>
                    </span> and
                    <span class="achievement">
                        <%= achievements[22].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[22].description %>
                            </span>
                        </span>
                    </span>. Collect all the weapons for
                    <span class="achievement">
                        <%= achievements[9].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[9].description %>
                            </span>
                        </span>
                    </span> and find all the shrines for
                    <span class="achievement">
                        <%= achievements[10].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[10].description %>
                            </span>
                        </span>
                    </span>. While progressing through the story you can start unlocking secret achievements such as
                    <span class="achievement">
                        <%= achievements[17].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[17].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[14].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[14].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[5].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[5].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[16].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[16].description %>
                            </span>
                        </span>
                    </span> and
                    <span class="achievement">
                        <%= achievements[4].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[4].description %>
                            </span>
                        </span>
                    </span>. Regarding the stat upgrades, naturally you will unlock
                    <span class="achievement">
                        <%= achievements[6].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[6].description %>
                            </span>
                        </span>
                    </span> and
                    <span class="achievement">
                        <%= achievements[7].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[7].description %>
                            </span>
                        </span>
                    </span>.
                </p>
                <p class="indent">
                    Defeating the final boss will unlock
                    <span class="achievement">
                        <%= achievements[21].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[21].description %>
                            </span>
                        </span>
                    </span>. Then you can collect all the shiny things for
                    <span class="achievement">
                        <%= achievements[8].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[8].description %>
                            </span>
                        </span>
                    </span>. You can now also unlock
                    <span class="achievement">
                        <%= achievements[13].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[13].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[11].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[11].description %>
                            </span>
                        </span>
                    </span>,
                    <span class="achievement">
                        <%= achievements[18].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[18].description %>
                            </span>
                        </span>
                    </span> and
                    <span class="achievement">
                        <%= achievements[23].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[23].description %>
                            </span>
                        </span>
                    </span> which should also earn you
                    <span class="achievement">
                        <%= achievements[15].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[15].description %>
                            </span>
                        </span>
                    </span>.
                </p>
                <h2>Second Playthrough</h2>
                <p class="indent">
                    For the second playthrough you need to beat the game using only the umbrella as your melee
                    weapon for
                    <span class="achievement">
                        <%= achievements[1].displayName %>
                        <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                            <span class="tooltip-text">
                                <%= achievements[1].description %>
                            </span>
                        </span>
                    </span>.
                </p>
                <h3>Time Saving Resources</h3>
                <p>
                    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2558920872" target="_blank">100%
                        Achievement Guide for Beakfaces</a> - It includes images and video links.
                </p>
            </div>
        </div>
        <div class="rightColumn">
            <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1662825554/achievementroadmaps/DeathsDoorR_rchn0a.webp"
                alt="" />
        </div>
    </div>
</section>

</html>