<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Devil May Cry 5 achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/devil-may-cry-5" />
    <meta property="og:title" content="Devil May Cry 5 Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Devil May Cry 5 achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Devil May Cry 5 Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('../partials/navbar') %>
    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1655906919/achievementroadmaps/DMCVHQ_rm58dm.webp"
            alt="Devil May Cry 5 Cover" />
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1655907282/achievementroadmaps/DMCVL_fubj1o.webp"
                    alt="" />
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">80-100 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">6 + chapter select + 4 for Bloody
                            Palace</span>
                    </li>
                    <li>
                        Extra Content required:<span class="editableTitles">Vergil DLC</span>
                    </li>
                    <li>Total Achievements:<span class="editableTitles">55</span></li>
                    <li>Single Player:<span class="editableTitles">55</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</span></li>
                    <li>
                        Does difficulty affect achievements?:<span class="editableTitles">Yes, need to finish the game
                            in all difficulties</span>
                    </li>
                    <li>
                        Do achievements stack?:<span class="editableTitles">Yes</span>
                    </li>
                    <li>Missable:<span class="editableTitles">0</span></li>
                    <li>Glitched:<span class="editableTitles">0</span></li>
                    <li>Grind:<span class="editableTitles">0</span></li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">
                        Devil May Cry 5 is a very good action game, propably the best in the series. You play different
                        characters, each with his unique weapons and abilities, in different chapters and that adds to
                        the variety of the gameplay. The higher the difficulty the more enjoyable it gets, since this
                        gives you more chances to use your entire arsenal. The game is very noobie friendly.
                    </p>
                    <p class="indent">
                        While the game is very enjoyable, the achievements are not. You have to finish all the
                        chapters in every difficulty with the highest rank. And the game is not optimised for that. You
                        will find yourself repeating the same chapters so many times that eventually you, most likely,
                        will get bored of the process. The biggest irony is that, you are required to collect every orb
                        and unlock all the skills for every character, but in the end you will not use them.
                    </p>
                    <h2>Before you Begin</h2>
                    <p class="indent">
                        What will take most of your time is
                        <span class="achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>. There are two ways to go about it. Either, during every combat use every ability,
                        dodge, block, taunt in order to build up the style without ever reloading the checkpoint, or
                        finish the mission without taking damage. Note that there are fights that you can skip and
                        fights that are unavoidable. Also at the end of every mission there are modifiers that increase
                        or decrease your final score.
                    </p>
                    <p class="indent">
                        So if you choose to build your style during combat then you cannot reload the checkpoint if you
                        feel your score was low, because you need the modifier at the end of the mission. Taking damage
                        will not penalize your score that much so you shouldn't worry about it. If you choose to finish
                        the mission without taking damage, then you can reload the checkpoint when you get hit, because
                        the modifier for no damage is enough. In both cases, if you die you need to restart the mission.
                    </p>
                    <p class="indent">
                        I recommend the no damage route for two reasons. First, for the highest difficulty you cannot
                        take damage anyway, since you die in one hit, and second because timewise, it is faster to
                        reload checkpoints when you take damage than replaying the mission when your score was not high
                        enough.
                    </p>
                    <h2>First, Second and Third Playthrough</h2>
                    <p class="indent">
                        Enjoy the story, get familiar with the characters, learn the abilities and use them. Do not
                        bother with the breakable crystals, they are a waste of time. You will get a lot of red orbs
                        during your playthroughs and from Bloody Palace, so just focus on the combat. The first
                        abilities you should unlock are everything related to dodging, parrying, blocking, jumping and
                        aerial combos. When you pick up blue and purple orbs make a note of the mission, because there
                        is no indication ingame on which mission you have collected the orbs.
                    </p>
                    <p class="indent">
                        First playthrough should be on Devil Hunter difficulty. On this playthrough you will unlock the
                        story specific achievements:
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span> for completing the playthrough.
                    </p>
                    <p class="indent">
                        Your second playthrough should be on Son of Sparda difficulty. Now you can do a few chapter
                        specific achievements. For Mission 01 there is
                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>, for Mission 02
                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>, Mission 04
                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>, Mission 05
                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>, for Mission 07 choose a different character from your previous playthrough for
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span>, Mission 09
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>, Mission 11
                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>, on Mission 13 choose a different character from your previous playthrough, for Mission
                        15 there is
                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span> and for Mission 16
                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>. Finally you will unlock
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span> for finishing the playthrough.
                    </p>
                    <p class="indent">
                        Third playthrough should be on Dante Must Die. On Mission 13 you can unlock
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span> for choosing the last character of the three and
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span> for finishing the playthrough.
                    </p>
                    <h2>Fourth Playthrough</h2>
                    <p class="indent">
                        Choose Heaven or Hell mode. In this mode you die and the enemies die in one hit. This is the
                        perfect playthrough to find all the secret missions, all the blue orbs and the purple orbs. Some
                        missions you cannot collect them all in the same run, so repeat the missions to collect
                        everything. You do not need to finish the mission, the game autosaves when you collect the orbs.
                        On prologue you can unlock
                        <span class="achievement">
                            <%= achievements[31].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[31].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[31].description %>
                                </span>
                            </span>
                        </span> and during the credits with Dante you can unlock
                        <span class="achievement">
                            <%= achievements[40].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[40].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[40].description %>
                                </span>
                            </span>
                        </span>. You will unlock
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span> for completing the playthrough. You should also now finish all the secret missions for
                        <span class="achievement">
                            <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Fifth Playthrough, S-Rank Playthroughs</h2>
                    <p class="indent">
                        For your firfth playthrough choose Human difficulty. In this playthrough you will finish the
                        remaining chapter specific achievements while S-ranking all the missions. For mission 05 there
                        is
                        <span class="achievement">
                            <%= achievements[47].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[47].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[47].description %>
                                </span>
                            </span>
                        </span>, mission 07
                        <span class="achievement">
                            <%= achievements[46].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[46].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[46].description %>
                                </span>
                            </span>
                        </span>, mission 11
                        <span class="achievement">
                            <%= achievements[45].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[45].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[45].description %>
                                </span>
                            </span>
                        </span> and for mission 19 and 20 there is
                        <span class="achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>. You can also do
                        <span class="achievement">
                            <%= achievements[30].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[30].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[30].description %>
                                </span>
                            </span>
                        </span> with V and
                        <span class="achievement">
                            <%= achievements[43].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[43].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[43].description %>
                                </span>
                            </span>
                        </span> with Nero. For finishing the playthrough you will earn
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[32].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[32].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[32].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <p class="indent">
                        While trying to earn S-rank on every difficulty you will unlock the rest of the miscellaneous
                        achievements:
                        <span class="achievement">
                            <%= achievements[34].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[34].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[34].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[41].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[41].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[41].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[42].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[42].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[42].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[27].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>. For completing the playthroughs you will earn
                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Sixth Playthrough</h2>
                    <p class="indent">
                        Now you should play through the game again with Vergil. Difficulty and rank does not matter. So
                        you can either choose Human difficulty, play once and know that you are finished with the
                        campaign or play again in Heaven or Hell difficulty to unlock his super costume, which will make
                        Bloody Palace run easier. On mission 19 there is
                        <span class="achievement">
                            <%= achievements[53].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[53].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[53].description %>
                                </span>
                            </span>
                        </span>
                        and by finishing the campaign with Vergil you will unlock
                        <span class="achievement">
                            <%= achievements[51].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[51].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[51].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Bloody Palace Playthroughs</h2>
                    <p class="indent">
                        Now you need go through the Bloody Palace four times for each individual character. During this
                        playthroughs you will earn enough red orbs to buy every skill for every character and the
                        remaining Blue and Purple orbs that are in Nico's shop. Choose Dante last so you can unlock
                        <span class="achievement">
                            <%= achievements[44].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[44].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>. For having collected all the purple and blue orbs you will earn
                        <span class="achievement">
                            <%= achievements[38].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[38].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[38].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[39].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[39].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[39].description %>
                                </span>
                            </span>
                        </span>. For buying all the skills you will earn
                        <span class="achievement">
                            <%= achievements[35].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[35].description %>
                                </span>
                            </span>
                        </span> for Nero,
                        <span class="achievement">
                            <%= achievements[36].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[36].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[36].description %>
                                </span>
                            </span>
                        </span> for Dante,
                        <span class="achievement">
                            <%= achievements[37].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[37].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[37].description %>
                                </span>
                            </span>
                        </span> for V and
                        <span class="achievement">
                            <%= achievements[52].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[52].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[52].description %>
                                </span>
                            </span>
                        </span> for Vergil. For completing the Bloody Palace you will earn
                        <span class="achievement">
                            <%= achievements[48].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[48].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[48].description %>
                                </span>
                            </span>
                        </span> for Nero,
                        <span class="achievement">
                            <%= achievements[49].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[49].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[49].description %>
                                </span>
                            </span>
                        </span> for Dante,
                        <span class="achievement">
                            <%= achievements[50].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[50].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[50].description %>
                                </span>
                            </span>
                        </span> for V and
                        <span class="achievement">
                            <%= achievements[54].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[54].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[54].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1676103745"
                            target="_blank">Dashi's Completionist Guide to: 100% Devil May Cry 5</a> - Steam guide,
                        achievements are categorized by missions, with images for the locations of the orbs and the
                        secret missions.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1655907463/achievementroadmaps/DMCVR_pnrtrv.webp"
                    alt="" />
            </div>
        </div>
    </section>
    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>