<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description" content="Elderborn achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/elderborn" />
    <meta property="og:title" content="Elderborn Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Elderborn achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>Elderborn Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951444/achievementroadmaps/ElderbornHQ_c5que9.webp"
            alt="Elderborn Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951439/achievementroadmaps/ElderbornL_ef5zqc.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">20-25 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">3</li></span>
                    <li>Extra Content required:<span class="editableTitles">No</li></span>
                    <li>Total Achievements:<span class="editableTitles">27</li></span>
                    <li>Single Player:<span class="editableTitles">27</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">No</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">7</span></li>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">0</li>
                    </span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">
                        The game can be completed in 6 - 8 hours. There are total 3 chapters, with the 3rd being the
                        shortest. There is a good variety of weapons and enemies and the environmental design adds to
                        the variety. You also gain abilities as you level up, but they don't add much
                        to the gameplay. While achievements require you to finish the game without dying or without
                        leveling up, there is no difficulty requirement, so everything can be done on the lowest
                        difficulty.
                    </p>
                    <h2>First Playthrough</h2>
                    <p class="indent">
                        Choose any difficulty you want since it doesn't matter for the achievements. Highly recommend to
                        keep checking the codexes and try to complete as many as you can during this playthrough. You
                        will unlock

                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>

                        for finishing the tutorial.
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>

                        are for completing each chapter and are unmissable. In chapter 3

                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>

                        will unlock anyway because of the way the chapter progress.

                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>

                        are about killing a number of enemies and should unlock during the three playthroughs with no
                        problem.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p class="indent">
                        Second playthrough should be done on NG+. Do not level up for

                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>.
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>

                        can only be done in NG+. On this playthough finish all the codex entries and challenges. You
                        will earn

                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>.

                        Finishing this playthrougn will earn you

                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p class="indent">
                        For the final playthrough start the game on the easiest difficulty and enable Iron Man Mode. You
                        want to collect all chests and kill all the enemies. For collecting all chests you will earn

                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>.

                        For killing all the enemies you will earn

                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>.

                        Finishing this playthrough will earn you

                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>

                        and finally

                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>

                        for unlocking all the achievements.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1996633440" target="_blank">Mr.
                            Wise Guy Achievement</a> - Guide for finding all codex lore entries.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2541883746" target="_blank">No
                            Chest Left Behind Achievement (All Chest Locations)</a> - Guide for finding all chests.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951445/achievementroadmaps/ElderbornR_ucdokc.webp"
                    alt="">
            </div>
        </div>
    </section>

    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>