<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Metro Exodus achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/Metro-exodus" />
    <meta property="og:title" content="Metro Exodus Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Metro Exodus achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>Metro Exodus Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951451/achievementroadmaps/MetroExodusHQ_ldn2hz.webp"
            alt="Metro Exodus Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1641235881/achievementroadmaps/MetroExodusL_igyixb.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">60 - 80 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">3 + 2 for the DLCs</span></li>

                    <li>Extra Content required:<span class="editableTitles">2 DLCs - Sam's Story, The Two
                            Colonels</span></li>
                    <li>Total Achievements:<span class="editableTitles">68</span></li>
                    <li>Single Player:<span class="editableTitles">68</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles"></span>0</li>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes</span></li>
                    <li>Do achievements stack?:<span class="editableTitles">Yes, except from
                            <span class="achievement">
                                <%= achievements[35].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[35].description %>
                                    </span>
                                </span>
                            </span>
                        </span></li>
                    <li>Missable:<span class="editableTitles">3 -
                            <span class="achievement">
                                <%= achievements[27].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[27].description %>
                                    </span>
                                </span>
                            </span>,
                            <span class="achievement">
                                <%= achievements[29].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[29].description %>
                                    </span>
                                </span>
                            </span>,
                            <span class="achievement">
                                <%= achievements[35].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[35].description %>
                                    </span>
                                </span>
                            </span>
                        </span></li>
                    <li>Glitched:<span class="editableTitles">
                            <span class="achievement">
                                <%= achievements[35].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[35].description %>
                                    </span>
                                </span>
                            </span>
                        </span></li>

                    <li>Grind:<span class="editableTitles">0</span></li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Metro Exodus has a few major differences from the other Metro games. You are in a more open
                        world, with a moving hub and less horror focused theme. There is more action, more locations to
                        discover and more story, if you care about that. Overall, I think the Metro games are the next
                        better than the one before and Exodus is a very solid first person action game, with a little
                        horror, a little action and just enough variety to not lose its familiarity.<br>
                        The achievements are just like every other Metro game. There are killing specific, chapter
                        specific, some require a combination of actions to unlock, resources to be spent, weapons to be
                        crafted and of course collectibles. What will propably annoy you the most is completing the game
                        without the mid chapter checkpoints and without quick-saving. It's not that the game is hard,
                        but there are factors you cannot control, such as the game crashes, your PC freezes, the NPC is
                        stuck and the mission is not progressing, will make that achievement an annoyance.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        For the first playthrough I recommend going for the "Good" ending. That means going for the
                        stealth approach and avoid killing human enemies during the main mission. Choose a difficulty
                        option that feels comfortable to you. The game overall is not that hard and if you previously
                        played any of the other Metro games, then this will feel very familiar.<br>
                        If you utilize the binoculars mechanic and visit all the places on the map then you will never
                        run out of crafting materials. You will unlock all the story achievements:
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>.

                        Driving the first car you encounter will earn you

                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>

                        and it is missable. There is a side quest you can do for your crew members for

                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>.<br>

                        By playing non lethal in this playthrough you will earn

                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[27].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[30].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[30].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[30].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        For the second playthrough you can start a New Game or a New Game Plus. In the New Game Plus,
                        any collectibles and modifications you found, will carry on the next playthrough. Although, if
                        you haven't unlocked

                        <span class="achievement">
                            <%= achievements[35].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[35].description %>
                                </span>
                            </span>
                        </span>,

                        I recommend skipping
                        the New Game Plus, since it needs a fresh playthrough and you have to collect eveything in this
                        playthrough anyway. You want to go for the "Bad" ending, which means taking
                        the lethal approach, kill everyone and make "unethical" choices. Choose an easy difficulty
                        level, also reload saves and chapters to do the chapter specific achievements and farm any kills
                        if necessary.<br>
                        The achievement that needs special attention is

                        <span class="achievement">
                            <%= achievements[31].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[31].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[31].description %>
                                </span>
                            </span>
                        </span>

                        for making a kill with every weapon. Install a modification of each category on a single weapon
                        for

                        <span class="achievement">
                            <%= achievements[32].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[32].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[32].description %>
                                </span>
                            </span>
                        </span>.

                        Spend 500 chemical resources on cleaning weapons for

                        <span class="achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>,

                        spend 500 consumable resources on crafting for

                        <span class="achievement">
                            <%= achievements[34].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[34].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[34].description %>
                                </span>
                            </span>
                        </span>

                        and find all upgrades for Artyom's suit for

                        <span class="achievement">
                            <%= achievements[35].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[35].description %>
                                </span>
                            </span>
                        </span>.<br>

                        There are killing a number of enemies achievements:

                        <span class="achievement">
                            <%= achievements[38].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[38].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[38].description %>
                                </span>
                            </span>
                        </span>

                        for mutants,

                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>

                        for cannibals,

                        <span class="achievement">
                            <%= achievements[45].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[45].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[45].description %>
                                </span>
                            </span>
                        </span>

                        for killing a demon with fire,

                        <span class="achievement">
                            <%= achievements[42].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[42].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[42].description %>
                                </span>
                            </span>
                        </span>

                        for humans,

                        <span class="achievement">
                            <%= achievements[39].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[39].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[39].description %>
                                </span>
                            </span>
                        </span>

                        for long distance and

                        <span class="achievement">
                            <%= achievements[43].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[43].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[43].description %>
                                </span>
                            </span>
                        </span>

                        for melee. Weapon specific are

                        <span class="achievement">
                            <%= achievements[40].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[40].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[40].description %>
                                </span>
                            </span>
                        </span>

                        for Tikhar,

                        <span class="achievement">
                            <%= achievements[41].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[41].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[41].description %>
                                </span>
                            </span>
                        </span>

                        for the crossbow and

                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span>

                        for the car. Kill 3 enemies using sniper scope while wearing the Gas mask and using the Night
                        Vision goggles for

                        <span class="achievement">
                            <%= achievements[44].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[44].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[44].description %>
                                </span>
                            </span>
                        </span>.<br>

                        For the gasmask there are

                        <span class="achievement">
                            <%= achievements[36].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[36].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[36].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[37].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[37].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[37].description %>
                                </span>
                            </span>
                        </span>.<br>

                        The chapter specific achievements are

                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[48].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[48].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[48].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>.<br>

                        Collecting all the diary pages and all the post cards with unlock

                        <span class="achievement">
                            <%= achievements[46].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[46].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[46].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[47].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[47].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[47].description %>
                                </span>
                            </span>
                        </span>.

                        Finally completing this playthrough you will unlock

                        <span class="achievement">
                            <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        For the final playthrough, choose New Game Plus, the Iron Mode modification and the Ranger
                        Hardcore difficulty. The only achievement you want to focus now is

                        <span class="achievement">
                            <%= achievements[49].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[49].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[49].description %>
                                </span>
                            </span>
                        </span>,

                        which is a NG+ specific achievement. Completing this playthrough will earn you

                        <span class="achievement">
                            <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[50].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[50].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[50].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[51].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[51].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[51].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>DLC: the two colonels</h2>
                    <p>
                        There are eight total achievements and they require at least normal difficulty. I do not
                        recommend a blind playthrough, because there is no chapter select and if you miss an achievement
                        you have to play it from the start. It is more than a couple hours long and there is plenty
                        of dialogue that is unskippable.<br>
                        Four achievements are story related and unmissable:

                        <span class="achievement">
                            <%= achievements[52].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[52].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[52].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[53].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[53].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[53].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[54].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[54].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[54].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[55].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[55].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[55].description %>
                                </span>
                            </span>
                        </span>. <br>

                        Collect all the diary pages for

                        <span class="achievement">
                            <%= achievements[56].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[56].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[56].description %>
                                </span>
                            </span>
                        </span>

                        and finish the DLC without using medkits for

                        <span class="achievement">
                            <%= achievements[59].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[59].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[59].description %>
                                </span>
                            </span>
                        </span>.<br>

                        Finally

                        <span class="achievement">
                            <%= achievements[57].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[57].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[57].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[58].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[58].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[58].description %>
                                </span>
                            </span>
                        </span>

                        are chapter specific and require certain actions.
                    </p>
                    <h2>DLC: sam's story</h2>
                    <p>
                        Similar with The Two Colonels DLC, there are eight total achievements and they require normal
                        difficulty. There is no chapter select and you have to replay the whole DLC if you miss an
                        achievement.<br>
                        Organize a documentary screening for

                        <span class="achievement">
                            <%= achievements[60].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[60].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[60].description %>
                                </span>
                            </span>
                        </span>.

                        Set all 5 traps as the Captain requests for

                        <span class="achievement">
                            <%= achievements[61].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[61].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[61].description %>
                                </span>
                            </span>
                        </span>.<br>

                        Find all the Night Hunters' secret stashes for

                        <span class="achievement">
                            <%= achievements[65].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[65].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[65].description %>
                                </span>
                            </span>
                        </span>,

                        collect all harmonica melodies for

                        <span class="achievement">
                            <%= achievements[66].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[66].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[66].description %>
                                </span>
                            </span>
                        </span>

                        and collect all the upgrades for Sammy rifle and Stallion pistol for

                        <span class="achievement">
                            <%= achievements[67].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[67].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[67].description %>
                                </span>
                            </span>
                        </span>.<br>

                        Finish the DLC without dying in Batwing encounters and by earning the Captain's full trust with
                        unlock

                        <span class="achievement">
                            <%= achievements[63].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[63].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[63].description %>
                                </span>
                            </span>
                        </span>,

                        <span class="achievement">
                            <%= achievements[62].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[62].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[62].description %>
                                </span>
                            </span>
                        </span>

                        and

                        <span class="achievement">
                            <%= achievements[64].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[64].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[64].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2483474143" target="_blank">All
                            Collectibles, Upgrades, Achievements and Morality, a Comprehensive Guide (DLC'S
                            INCLUDED)</a> - Steam guide, every achievement included with maps and notes, categorized by
                        chapter.<br>
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1641235880/achievementroadmaps/MetroExodusR_bhz2px.webp"
                    alt="">
            </div>
        </div>
    </section>

    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>