<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Nightmare of Decay achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/nightmare-of-decay" />
    <meta property="og:title" content="Nightmare of Decay Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Nightmare of Decay achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Nightmare of Decay Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1657561939/achievementroadmaps/NightmareOfDecayHQ_cmcpi5.webp"
            alt="Nightmare of Decay Cover" />
    </section>
    <%- include('../partials/coffee') %>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1657563117/achievementroadmaps/NightmareOfDecayLeft_w6aljn.webp"
                    alt="" />
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>
                        Time to 100%:<span class="editableTitles">15+ hours</span>
                    </li>
                    <li>
                        Minimum Playthroughs:<span class="editableTitles">4 + Dungeon Mode + Horde Mode + Randomizer
                            Mode</span>
                    </li>
                    <li>
                        Extra Content required:<span class="editableTitles">No</span>
                    </li>
                    <li>
                        Total Achievements:<span class="editableTitles">16</span>
                    </li>
                    <li>
                        Single Player:<span class="editableTitles">16</span>
                    </li>
                    <li>
                        Multiplayer/CoOp:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Does difficulty affect achievements?:<span class="editableTitles">Yes, need to finish the game
                            on Hard</span>
                    </li>
                    <li>
                        Do achievements stack?:<span class="editableTitles">Yes</span>
                    </li>
                    <li>
                        Missable:<span class="editableTitles">Yes, each playthrough is taking into account the
                            missables</span>
                    </li>
                    <li>
                        Glitched:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Grind:<span class="editableTitles">0</span>
                    </li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">
                        The game is very good in every aspect. It is obvious of where it takes its inspiration and it is
                        full of easter eggs. Everything is so well made, the puzzles, the enemy variety, the challenges.
                        It is short, not that hard and with an appropriate price.
                    </p>
                    <p class="indent">
                        The most annoying achievement is the knife only run. It is not that it is hard, but it takes too
                        much time. Failing and reloading on the same parts of the campaign will make the achievement
                        frustrating.
                    </p>
                    <h2>First Playthrough</h2>
                    <p class="indent">
                        Start the game on Normal and play it at your own pace. You can skip a couple boss fights and
                        there is no achievement associated with the shooting ranges. The only achievement you need to
                        worry about is a side quest from the creature in the hole
                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>. From completing the campaign you will earn
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Dungeon Mode</h2>
                    <p class="indent">
                        Now that the extra modes are unlocked start the Dungeon Mode. Finishing it will unlock the
                        infinite Submachine Gun, which is the most powerful weapon in the game. You will earn
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span> for completing it.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p class="indent">
                        For the second playthrough choose Hard difficulty and finish the campaign without ever
                        sprinting. You can pick up the infinite Submachine gun from inside the Manor, which will
                        decrease the difficulty of the game dramatically. Kill the Meat Golem if you haven't done on
                        Normal for
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span> and the Monstrous Beast for
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>. Finishing the campaign will earn you
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Randomizer Mode</h2>
                    <p class="indent">
                        You can now start on Randomizer Mode on Hard and finish it without using healing items. The
                        enemies and the items are randomized, but a few spawns remain the same. Pick up the Submachine
                        gun and save often. You will earn
                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p class="indent">
                        Choose Normal and for this playthrough you want to finish the game under 1 hour and without
                        saving or loading. So again pick up the Submachine gun and every healing item you can. You will
                        earn
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Horde Mode</h2>
                    <p class="indent">
                        You can now play on Horde Mode. Machete and Submachine gun are your best friends here. Your
                        success depends slightly on the enemy spawns. As long as your aim is at 100% then you shoud be
                        good. You will earn
                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span> for surviving the 10th wave.
                    </p>
                    <h2>Fourth Playthrough</h2>
                    <p class="indent">
                        What is left is finishing the campaign on Normal using only the knife, which is the hardest
                        achievement of the game. A successful run can take three hours total. Completing this
                        playthrough will earn you
                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2811003882" target="_blank">Map
                            of all items in the game</a> - Images of the maps showing every item spawn in the game.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2804490648"
                            target="_blank">Knife only walkthrough (COMPLETE!!!)</a> - Videos with a successful knife
                        only run.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2808084599"
                            target="_blank">Comprehensive Dungeon & Horde Mode Guide!</a> - A steam guide in case you
                        are having trouble on Dungeon and/or Horde Mode.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1657563221/achievementroadmaps/NightmareOfDecayR_iokfxw.webp"
                    alt="" />
            </div>
        </div>
    </section>
    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>