<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Terminator: Resistance achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/terminator-resistance" />
    <meta property="og:title" content="Terminator: Resistance Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Terminator: Resistance achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Terminator: Resistance Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1673729939/achievementroadmaps/TerminatorResistanceHQ_qadm8q.webp"
            alt="Terminator: Resistance Cover" />
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1674160558/achievementroadmaps/TerminatorResistanceL_xsa2me.webp"
                    alt="" />
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>
                        Time to 100%:<span class="editableTitles">30-40 hours</span>
                    </li>
                    <li>
                        Minimum Playthroughs:<span class="editableTitles">1 + chapter select</span>
                    </li>
                    <li>
                        Extra Content required:<span class="editableTitles">1 DLC - Annihilation Line</span>
                    </li>
                    <li>
                        Total Achievements:<span class="editableTitles">36</span>
                    </li>
                    <li>
                        Single Player:<span class="editableTitles">36</span>
                    </li>
                    <li>
                        Multiplayer/CoOp:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Does difficulty affect achievements?:<span class="editableTitles">No</span>
                    </li>
                    <li>
                        Do achievements stack?:<span class="editableTitles">Yes</span>
                    </li>
                    <li>
                        Missable:<span class="editableTitles"><span class="achievement">
                                <%= achievements[24].displayName %>
                                <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                    <span class="tooltip-text">
                                        <%= achievements[24].description %>
                                    </span>
                                </span>
                            </span></span>
                    </li>
                    <li>
                        Glitched:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Grind:<span class="editableTitles">0 </span>
                    </li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">
                        A very mediocre first person shooter. The gameplay is mundane, does not do much, although it
                        tries
                        to provide some variety, but in the end it fails. I think that it does well on representing the
                        Terminator's universe and
                        the story is not distinct from the movies, but part of them. If you are a fan of the first
                        Terminator trilogy or you are into post apocalyptic stories, then I can say it is worth it. But
                        if
                        you are looking for a challenge you will not find it here.
                    </p>
                    <p class="indent">
                        The achievements are very easy. No difficulty required, no need to go after all the collectibles
                        and
                        no grid whatsoever. These contribute to a stress free playtrhough and a relaxing experience
                        overall.
                    </p>
                    <h2>First Playthrough</h2>
                    <p class="indent">
                        You can choose whatever difficulty you want. The game is easy even on hard difficulty. There are
                        seven story related achievements:
                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>. The only missable achievement you need to worry about is
                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>. You must have Lockpicking skill level 3 and at the beginning of the chapter Back to
                        Pasadena open a locked door of a collapsed house. Complete side objectives for
                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span> and make sure to also do
                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span> which requires you to do a specific side objective. Find at least 10 notes for
                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <p class="indent">
                        Craft 5 different items for
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>, open 10 locks for
                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>, hack 10 devices for
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>, upgrade a weapon for
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span> and take a good photo of an enemy for
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span> when you unlock the camera.
                    </p>
                    <p class="indent">
                        Most of the combat related achievements should unlock naturally. Destroying the first
                        termintator
                        will
                        unlock
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>. Hack a turret for
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span> and use it to kill another enemy for
                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>. Some terminators will use flamethrowers, destroy one by shooting their fuel tanks for
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span> and kill a terminator with the knife for
                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>. Destroy a skynet outpost for
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span> and a T-47 for
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>. For completing the game you will unlock
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Extra Content: Infiltrator Mode</h2>
                    <p class="indent">
                        Again difficulty does not matter. There are only two achievements.
                        <span class="achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span> for finishing the DLC and
                        <span class="achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span> for finding all three secrets.
                    </p>
                    <h2>DLC: Annihilation Line</h2>
                    <p class="indent">
                        Total of nine achievements. Six story achievements:
                        <span class="achievement">
                            <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[27].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[31].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[31].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[31].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[34].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[34].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[34].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[35].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[35].description %>
                                </span>
                            </span>
                        </span>. You can earn the last three achievements by completing the side objectives. Destroy the
                        Antenna and the Refueling Station for
                        <span class="achievement">
                            <%= achievements[30].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[30].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[30].description %>
                                </span>
                            </span>
                        </span>, destroy Skynet's Construction Equipment for
                        <span class="achievement">
                            <%= achievements[32].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[32].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[32].description %>
                                </span>
                            </span>
                        </span> and plant explosives in the Factory Main Core faster than Ferro for
                        <span class="achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1913561946"
                            target="_blank">Terminator: Resistance - 100% Achievements</a> - Steam guide with images.
                        Very
                        well written.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1981087577"
                            target="_blank">Skill
                            Books locations / Расположение Книг</a> - Steam guide, with images and video.

                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1674160558/achievementroadmaps/TerminatorResistanceR_x4vwem.webp"
                    alt="" />
            </div>
        </div>
    </section>
    <section>
        <%- include('../partials/ach-list') %>
    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>