<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="Thronebreaker:The Witcher Tales achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/thronebreaker-the-witcher-tales" />
    <meta property="og:title" content="Thronebreaker:The Witcher Tales Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Thronebreaker:The Witcher Tales achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Thronebreaker:The Witcher Tales Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/navbar') %>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1684680363/achievementroadmaps/thronebreakerHQ_myh9ci.webp"
            alt="Thronebreaker:The Witcher Tales Cover" />
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1684680845/achievementroadmaps/thronebreakerL_gvfjed.webp"
                    alt="" />
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>
                        Time to 100%:<span class="editableTitles">40 hours</span>
                    </li>
                    <li>
                        Minimum Playthroughs:<span class="editableTitles">1</span>
                    </li>
                    <li>
                        Extra Content required:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Total Achievements:<span class="editableTitles">39</span>
                    </li>
                    <li>
                        Single Player:<span class="editableTitles">39</span>
                    </li>
                    <li>
                        Multiplayer/CoOp:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Does difficulty affect achievements?:<span class="editableTitles">No</span>
                    </li>
                    <li>
                        Do achievements stack?:<span class="editableTitles">No</span>
                    </li>
                    <li>
                        Missable:<span class="editableTitles">15+</span>
                    </li>
                    <li>
                        Glitched:<span class="editableTitles">0</span>
                    </li>
                    <li>
                        Grind:<span class="editableTitles">0</span>
                    </li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p class="indent">
                        A very pretty game. The visuals are amazing. The game is a triple-A and it certainly looks like
                        one.
                        The gameplay is very very interesting for a deck building game, lots of battles and puzzles. You
                        get
                        to play with a nice variety of decks, apart from your own, and you can discover quite a few
                        winning
                        card combinations. If you never played any deck building games before and your are unsure if
                        this
                        can be your first, then I highly recommend it to you.
                    </p>
                    <p class="indent">
                        99% of the achievements will come naturally as long as you visit everything on every chapter and
                        fight every battle available. The game autosaves so you will be forced for a second playthrough
                        if
                        you miss any achievement. Although choosing the easy difficulty, the game will win the battles
                        for
                        you, speeding up the playthrough.
                    </p>
                    <h2>First Playthrough</h2>
                    <p class="indent">
                        Even though there are many missable achievements, the majority of them can be unlocked just by
                        discovering everything in the map. You need to acquire the Scouting ability as soon as possible,
                        talk to everybody until you exhaust their dialogue, read every notice board and fight every
                        battle
                        you encounter. The game will warn you on every point of no return and let you know how many
                        puzzles and treasure chests are left.
                    </p>
                    <p class="indent">
                        During the game you will have to make dialogue choices. Those choices will affect some
                        achievements,
                        which means if you make the 'wrong' choice, you will have to start a new playthrough, since the
                        game
                        autosaves. Finally, be careful how you spend your resources. First, upgrade everything from your
                        camp, and then craft new cards. But most likely you will have more resources than you can spend.
                    </p>
                    <p class="indent">
                        The achievements you need to be wary of are the combat related. In total 6:
                        <span class="achievement">
                            <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[30].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[30].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[30].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[32].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[32].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[32].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>. Remember you can always surrender and restart the fight.
                    </p>
                    <p class="indent">
                        There are a total of 11 unmissable achievements:
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[35].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[35].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[35].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <p class="indent">
                        For discovering everything in the map you will unlock
                        <span class="achievement">
                            <%= achievements[34].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[34].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[34].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[36].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[36].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[36].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[31].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[31].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[31].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <p class="'indent">
                        For crafting all the buildings in your camp you will earn
                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>.
                        You will need to caft new cards for
                        <span class="achievement">
                            <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <p class="indent">
                        The remaining 7 achievements will be affected by your choices and some will carry through the
                        next
                        chapters. For recruiting heroes you will earn
                        <span class="achievement">
                            <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[27].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[37].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[37].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[37].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>. Finally,
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span> for obtaining all the weapons for Meve and
                        <span class="achievement">
                            <%= achievements[38].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[38].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[38].description %>
                                </span>
                            </span>
                        </span> for reading all the letters.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1595536104"
                            target="_blank">Choices
                            and Consequences</a> - Stean guide which includes all the choices and their rewards.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2144256367"
                            target="_blank">Thronebreaker 100% Achievement Guide</a> - Steam guide with some combat tips
                        for
                        their related achievements and images for the collectibles.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1684681074/achievementroadmaps/thronebreakerR_jfnp5x.webp"
                    alt="" />
            </div>
        </div>
    </section>
    <section>
        <%- include('../partials/ach-list') %>
    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>