<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description" content="Titanfall 2 achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/titanfall-2" />
    <meta property="og:title" content="Titanfall 2 Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="Titanfall 2 achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>
        Titanfall 2 Achievement Roadmap - AchievementRoadmaps.com
    </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('../partials/navbar') %>
    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1648061060/achievementroadmaps/Titanfall2HQ_snd16j.webp"
            alt="Titanfall 2 Cover" />
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1648063651/achievementroadmaps/Titanfall2L_bc8r4p.webp"
                    alt="" />
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">10 - 20 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">1 + chapter select</span></li>
                    <li>
                        Extra Content required:<span class="editableTitles">None</span>
                    </li>
                    <li>Total Achievements:<span class="editableTitles">50</span></li>
                    <li>Single Player:<span class="editableTitles">47</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles">3</span></li>
                    <li>
                        Does difficulty affect achievements?:<span class="editableTitles">Yes, complete the
                            campaign in Mastery difficulty</span>
                    </li>
                    <li>
                        Do achievements stack?:<span class="editableTitles">Yes</span>
                    </li>
                    <li>Missable:<span class="editableTitles">0</span></li>
                    <li>Glitched:<span class="editableTitles">0</span></li>
                    <li> Grind:<span class="editableTitles">0 </span> </li>
                </ul>
                <div class=" aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Titanfall 2 is as hard as any other FromSoftware
                        game, if you ever played one. It will take time and a lot of
                        patience to become comfortable with the mechanics of the game.<br />
                        The game will not waste your time with useless collectibles. The
                        achievements are very straight forward and you will not have to go
                        out of your way. Even though you need four playthroughs to unlock
                        all of the achievements, you will have no problem speed through
                        the game, since a huge part can be skipped.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        For the first playthrough I recommend going for the "Immortal
                        Severance" ending, which doesn't require complicated steps. There
                        is a choice that you have to make almost halfway through the game,
                        which will affect the ending and I suggest reading a guide on
                        which choice to make, or else the playthrough will end early and
                        you do not want to start a NG+ playthrough without gaining more
                        experience and acquiring more skills. Focus on learning the
                        mechanics and try to visit as many locations and collect as many
                        collectibles as you can.<br />
                        For visiting all locations you will unlock
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[2].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>. You will unlock
                        <span class=" achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[16].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[17].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>
                        and
                        <span class=" achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[18].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>, which are story related. For resurrecting the first time
                        <span class=" achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[19].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span>. For defeating the mandatory bosses you will earn
                        <span class=" achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[13].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[20].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[21].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[22].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[23].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[25].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[25].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[25].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[26].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[26].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[26].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[27].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[27].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[27].description %>
                                </span>
                            </span>
                        </span>,
                        <span class=" achievement">
                            <%= achievements[28].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[28].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[28].description %>
                                </span>
                            </span>
                        </span>
                        and
                        <span class=" achievement">
                            <%= achievements[29].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[29].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[29].description %>
                                </span>
                            </span>
                        </span>. Finally
                        <span class=" achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[9].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>
                        for finishing the game.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        For the second playthrough you want to start a New Game Plus, and
                        this will be the clean-up playthrough, while working for the
                        " Purification" ending. You will unlock <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[5].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>
                        for acquiring all the Prosthetic Tools,
                        <span class=" achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[7].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>
                        for upgrading Vitality and Posture to their limit and
                        <span class=" achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[8].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>
                        for fully upgrading the " Healing Gourd". You will earn enough experience for <span
                            class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[14].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>
                        by getting the last skill of any tree.
                        <br />
                        Kill the Guardian Ape at this second location for
                        <span class=" achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[24].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>
                        and
                        <span class=" achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[6].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>, the secret boss Demon of Hatred for
                        <span class=" achievement">
                            <%= achievements[31].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[31].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[31].description %>
                                </span>
                            </span>
                        </span>, the Great Serpent in case you missed it on your first
                        playthrough for
                        <span class=" achievement">
                            <%= achievements[32].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[32].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[32].description %>
                                </span>
                            </span>
                        </span>
                        and
                        <span class=" achievement">
                            <%= achievements[33].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[33].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[33].description %>
                                </span>
                            </span>
                        </span>
                        for doing a side quest in the last location you visit. At this
                        point you should have enough lapis lazuli for
                        <span class=" achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[15].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>. Finally you will unlock
                        <span class=" achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[10].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span>
                        for finishing this playthrough.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        Move on to a New Game Plus and your new goal is either the
                        " Return" ending or "Shura" ending. I recommend the "Return" ending, but you can choose
                        whichever. There are different achievements to unlock for both choices<br />
                        Choosing the "Return" ending for this playthrough you can unlock
                        <span class="achievement">
                            <%= achievements[3].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[3].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[3].description %>
                                </span>
                            </span>
                        </span>
                        for upgrading all Prosthetic Tools to their limit and
                        <span class=" achievement">
                            <%= achievements[4].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[4].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[4].description %>
                                </span>
                            </span>
                        </span>
                        for acquiring all skills. Finally
                        <span class=" achievement">
                            <%= achievements[11].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[11].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[11].description %>
                                </span>
                            </span>
                        </span>
                        for completing the playthrough.
                    </p>
                    <h2>Fourth Playthrough</h2>
                    <p>
                        For the final playthrough, what's left is either the " Shura" ending or the "Return"
                        ending.<br />
                        During the "Shura" ending playthrough you will unlock
                        <span class="achievement">
                            <%= achievements[30].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[30].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[30].description %>
                                </span>
                            </span>
                        </span>
                        for defeating the final boss,
                        <span class=" achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[1].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>
                        for defeating all bosses,
                        <span class=" achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[12].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>
                        for finishing the game and
                        <span class=" achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%= achievements[0].icon %> alt="" />
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>
                        for unlocking all achievements.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href=" https://steamcommunity.com/sharedfiles/filedetails/?id=2512153758"
                            target="_blank">Sekiro 100% Completion Guide</a> - Steam guide, a nice walkthrough for all
                        the collectibes with images and guides for all the endings.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1648063868/achievementroadmaps/Titanfall2R_fh18i5.webp"
                    alt="" />
            </div>
    </section>
    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>