<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="XCOM: Chimera Squad achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/xcom-chimera-squad" />
    <meta property="og:title" content="XCOM: Chimera Squad Achievement Roadmap" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description"
        content="XCOM: Chimera Squad achievement roadmap. Guide to efficiently achieve 100% completion." />
    <meta property="og:type" content="article" />

    <title>XCOM: Chimera Squad Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951427/achievementroadmaps/ChimeraSquadHQ_j9t9ii.webp"
            alt="XCOM: Chimera Squad Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951427/achievementroadmaps/ChimeraSquadL_r38ef6.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">55 - 60 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">3</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">40</li></span>
                    <li>Single Player:<span class="editableTitles">40</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</li></span>
                    </span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to finish on
                            impossible
                    </li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">Almost all of them</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">None</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>Not your usual XCOM game. It plays faster since you jump immediately into combat and the story
                        cutscenes and dialogues are all skipable. There are gameplay options added that will make
                        playthroughs less boring and less stressful. Finally using mods and console commands will still
                        unlock achievements.</p>
                    <h2>First Playthrough</h2>
                    <p>Start the campaign on normal or expert and choose to play the tutorial for the
                        <span class="achievement">
                            <%= achievements[7].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[7].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[7].description %>
                                </span>
                            </span>
                        </span>, the rest of the options available don't matter. Soon you will have to choose your next
                        investigation.
                        You will have to finish all three of them during the campaign and the order matters for
                        <span class="achievement">
                            <%= achievements[22].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[22].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[22].description %>
                                </span>
                            </span>
                        </span>. For this playthrough choose 1rst The Progeny, 2nd Gray Phoenix and 3rd
                        Sacred Coil.
                        <span class="achievement">
                            <%= achievements[19].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[19].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[19].description %>
                                </span>
                            </span>
                        </span> is the hardest achievement. Basically you want to gain as much as intel as possible and
                        delay the story
                        missions for as long as possible. There are 11 agent specific achievements, but only 8
                        agents are available per playthrough, so make sure to complete them for the agents you
                        chose. Capture a Praetorian, a Ronin and a Sorcecer for
                        <span class="achievement">
                            <%= achievements[9].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[9].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[9].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[10].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[10].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[10].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[1].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>. For the mission select screen there is
                        <span class="achievement">
                            <%= achievements[13].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[13].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[13].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[17].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[17].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[17].description %>
                                </span>
                            </span>
                        </span>. For the agents
                        <span class="achievement">
                            <%= achievements[18].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[18].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[18].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[20].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[20].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[20].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[21].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[21].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[21].description %>
                                </span>
                            </span>
                        </span>.
                        <span class="achievement">
                            <%= achievements[23].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[23].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[23].description %>
                                </span>
                            </span>
                        </span> for Spec Op and
                        <span class="achievement">
                            <%= achievements[15].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[15].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[15].description %>
                                </span>
                            </span>
                        </span>
                        for the research. Finishing the campaign will earn you
                        <span class="achievement">
                            <%= achievements[0].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[0].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[0].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>Start a new game and for the difficulty choose impossible. You can skip the tutorial and choose
                        any other additional option you want. The investigation order should be 1rst Gray Phoenix, 2nd
                        Sacred Coil and 3rd The Progeny. You want to keep track of the Breach points for
                        <span class="achievement">
                            <%= achievements[24].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[24].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[24].description %>
                                </span>
                            </span>
                        </span>. If you do not choose the same agents you can complete
                        <span class="achievement">
                            <%= achievements[12].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[12].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[12].description %>
                                </span>
                            </span>
                        </span>. Finish any achievement you may have missed from the first playthrough and also do not
                        forget the agent specific achievements. Finishing the campaign will earn you
                        <span class="achievement">
                            <%= achievements[1].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[1].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[1].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>Start a new game and choose story difficulty. For the investigation order choose 1rst Sacred
                        Coil, 2nd The Progeny and 3rd Gray Phoenix. Now is a good time for
                        <span class="achievement">
                            <%= achievements[37].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[37].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[37].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[38].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[38].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[38].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[8].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[8].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[8].description %>
                                </span>
                            </span>
                        </span>. If
                        <span class="achievement">
                            <%= achievements[5].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[5].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[5].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[6].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[6].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[6].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[14].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[14].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[14].description %>
                                </span>
                            </span>
                        </span>,
                        <span class="achievement">
                            <%= achievements[16].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[16].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[16].description %>
                                </span>
                            </span>
                        </span> and
                        <span class="achievement">
                            <%= achievements[36].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[36].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[36].description %>
                                </span>
                            </span>
                        </span> didn't come naturally, you can finish them now. Also finish
                        <span class="achievement">
                            <%= achievements[39].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[39].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[39].description %>
                                </span>
                            </span>
                        </span> if you haven't yet. Finishing the campaign will earn you
                        <span class="achievement">
                            <%= achievements[2].displayName %>
                            <span class="tooltip-content"><img src=<%=achievements[2].icon %> alt="">
                                <span class="tooltip-text">
                                    <%= achievements[2].description %>
                                </span>
                            </span>
                        </span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2072773974" target="_blank">XCOM:
                            100% Achievement Squad</a> - Steam achievement guide<br>
                        <a href="https://steamcommunity.com/id/goneaway182/myworkshopfiles/?appid=882100&
                            sort=score&browsefilter=myfavorites&view=imagewall&p=1&sortmethod=alpha"
                            target="_blank">Steam Workshop Items</a> - My recommended mods to use
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951429/achievementroadmaps/ChimeraSquadR_f6vndj.webp"
                    alt="">
            </div>
        </div>
    </section>
    <section>

        <%- include('../partials/ach-list') %>

    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>